# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/build*
.run/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
ci/*
!ci/.gitkeep

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.stylelintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
/hs_err_pid14224.log
