DEVELOPMENT=true
LOGGING_LEVEL=debug
LOGGING_LEVEL_REQUESTS=debug
LOGGING_ENCODING_COLORIZE=true
SECRET=generate with openssl rand -hex 16
BASIC_AUTH_USER=...
BASIC_AUTH_PASSWORD=...
DB_POSTGRES_HOST=localhost
DB_POSTGRES_NAME=...
DB_POSTGRES_PASSWORD=...
DB_POSTGRES_PORT=...
DB_POSTGRES_USER=...
WEB_INTERFACE_ENABLED=false